<form class="new-post-form" [formGroup]="form" (ngSubmit)="submit()">
  <input id="title" type="text" formControlName="title" placeholder="Enter post title here...">
  <div
    *ngIf="form.get('title').touched && form.get('title').invalid"
    class="alert"
  >This field can't be empty</div>
  <textarea id="text" formControlName="text" placeholder="Enter Your post here..."></textarea>
  <div
    *ngIf="form.get('text').touched && form.get('text').invalid"
    class="alert"
  >This field can't be empty</div>
  <input id="image" type="text" formControlName="image" placeholder="Image URL...">
  <button type="submit" [disabled]="form.invalid" class="btn-main">Done</button>
</form>
